@mixin border-1px($color){
    &:before{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        border-top: 1px solid $color;
        content: ' ';
    }
}


@mixin border-none(){
  &:after{
    display: none;
  }
}

@mixin bg-image($url){
    background-image : url($url + "@2x.png");
    @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
        background-image : url($url + "@3x.png")
    }
}

